body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  background: #005ad5;
  padding: 48px 98px 372px 135px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: right;
  gap: 98px;
}

.logo {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  color: #fff;
  font-size: 36px;
  margin-bottom: 247px;
}

.menu-link {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-with {
  max-width: 495px;
}

.about {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.about-title {
  font-size: 43.421px;
  font-weight: 600;
  padding-bottom: 38px;
}

.about-text {
  font-size: 14.589px;
  font-weight: 400;
  padding-bottom: 48px;
}

.about-btn {
  border-radius: 10px;
  background: #fff;
  color: #005ad5;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 32px;
}

.about-img {
  max-width: 613px;
}

.polygon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1700px;
}

.offer {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 125px 120px;
  font-family: "Poppins", sans-serif;
  color: #121212;
  text-align: center;
  background: #f4f6f7;
}

.offer-title {
  font-size: 36px;
  font-weight: 500;
}

.offer-text {
  color: var(--text2, #6c6c6c);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 62px;
}

.card {
  display: flex;
  justify-content: space-evenly;
  gap: 166px;
}

.card-description {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 23px;
}

.card-img {
  margin-bottom: 24px;
}

.card-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 16px;
}

.card-text {
  color: var(--text, #121212);
  font-size: 14px;
  margin-bottom: 32px;
  max-width: 243px;
}

.card-btn {
  border-radius: 10px;
  border: 2px solid #005ad5;
  color: #005ad5;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 20px;
}

.info {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  padding: 216px 106px 228px 105px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 264px;
}

.info-description {
  text-align: left;
}

.info-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 10px;
}

.info-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 24px;
}

.info-text2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #6c6c6c;
  max-width: 443px;
}

.contact {
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  background: #f4f6f7;
  font-family: "Poppins", sans-serif;
  padding: 134px 255px 173px 255px;
}

.contact-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: center;
}

.contact-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  color: #6c6c6c;
  margin-bottom: 102px;
}

.input {
  padding-bottom: 29px;
}

.text-style {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #00000080;
  border: 6px solid #005ad5;
}

.imie-email {
  display: flex;
  gap: 30px;
}

.imie {
  max-width: 451px;
  padding: 26px 558px 26px 90px;
}

.email {
  max-width: 451px;
  padding: 27px 558px 26px 90px;
}

.temat {
  max-width: 930px;
  padding: 26px 666px 26px 90px;
}

.tresc {
  max-width: 930px;
  padding: 41px 768px 323px 90px;
}

.contact-btn {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background: #005ad5;
  padding: 30px 119px;
  margin: 29px 555px 173px 555px;
}
